:root {
    --fonte-primaria: "Open Sans", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
  }
  * {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    margin: 0;
    transition: all 0.3s ease-in-out; /* Adicionado aqui */
}
button, a {
    min-width: 44px; /* Tamanho mínimo recomendado */
    min-height: 44px; /* Tamanho mínimo recomendado */
    cursor: pointer; /* Para garantir a interação visual */
}
html, body{
overflow-x: hidden !important;
}
.container-top{
    background-color: white;
    text-align: left;  
}
.logo{
    width: 200px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 130px;
}
.logo img{
    width: 70%;
    height: auto;
}
.container-dow{
    background-color: #273E68;
    color: white;
    padding: 30px;
    text-align: center;
}
.container-dow b{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}
.Imagem-1{
    background-color: #686053;
    width: 100%;
    min-height: 50vh;
    text-align: center;
}
.Imagem-1 img{
    width: auto;
    height: 100%;
    object-fit: cover;
}
i{
    color: rgb(33, 76, 128);
    font-size: 3rem;
}
.texto-1{

    color: #214C80;
    padding: 30px;
    padding-top: 50px;
    text-align: center;
}
.texto-1 span{
    width: 100%;
    height: 300px;
    color: #2DC0E8;  
}
.texto-1 h2{
    font-size: 46px !important;
    font: inherit
}
.texto-1 p{
    font-size: 20px;
    font-family: var(--fonte-primaria);
    width: 880px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.Geral-1{
    background-color: #214C80;
    color: white;
    text-align: center;
    padding: 0px;
}
.texto-2{
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 3rem;
}
.Imagem-2{
    width: 100%;
    text-align: center;
    padding-bottom: 200px;
}
.Imagem-2 img {
    width: 30%;  
    height: 40%; 
    object-fit: cover;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding-bottom: 150px;
}
.cards-ul {
    width: 200px; /* Reduz a largura dos cards */
    padding: 10px; /* Menor espaçamento interno */
    /*background-color: #D3D3D3;*/
    color: white;
    font-size: 16px; /* Diminui o tamanho do texto */
    text-align: center; /* Centraliza o conteúdo */
    border-radius: 8px; /* Bordas arredondadas */
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
.cards-ul h5 {
    font-size: 22px; /* Reduz o tamanho do título */
    margin-bottom: 5px;
}
.cards-ul p {
    font-size: 20px;
    margin-bottom: 5px;
}
.ul-cards {
    list-style: none; /* Remove os marcadores padrão da lista */
    padding: 0;
}
.ul-cards li {
    font-size: 20px; /* Diminui o tamanho do texto da lista */
    margin-bottom: 3px;
}
.Geral-2{
    background-color: rgb(39, 62, 104);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 100px;
}
.Imagem-3{
    width: 100%;
}
.texto-3{
    padding-left: 200px;
    width: 50%;
    font-family: var(--fonte-primaria);
    font-size: 16px;
    color: white;
}
.texto-3 span{
    font-size: 24px;
    color: #2DC0E8;
    font-family: var(--fonte-secundaria);
    font-weight: bold;
}
.texto-3 h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 48px;
    color: white;
    font-family: var(--fonte-primaria);
    font-weight: bold;
}
.texto-3 p{
    font-size: 20px;
    color: white;
}
.Geral-3{
    display: flex;
    gap: 50px;
    color: #273E68;
    font-family: var(--fonte-secundaria);
    align-items: center;
}
.Geral-3 img {
    width: 50%;
    height: auto;
    object-fit: cover;
}
 .Geral-3 p{
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.Geral-3 h3{
    padding: 10px 0px;
    text-align: center;
    font-size: 16px;
    color: #273E68;
    font-family: var(--fonte-secundaria);
    font-weight: bold;

}
.card{
    width: 500px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-bottom: 50px;
}
.Geral-4{
    background-image: url("imgs/Revista-Vida-e-Saude-comeca-2015-com-novidades.jpg");
    background-size: cover;
    background-position: center;
    color: #273E68;
    font-family: var(--fonte-primaria);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.forms{
    width: 600px;
    height: 700px;
    background-color: rgba(243, 243, 243, 0.7); /* 0.7 = 70% opacidade */
    border: #686053 2px solid;
    border-radius: 5px;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;   
}
 /* Pop-up de alerta */
/*#popup-alerta {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff4d4d;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #popup-alerta.show {
    display: block;
    opacity: 1;
  }*/

/*.g-recaptcha{
    padding-left: 150px;
}*/
.forms h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
}
.forms p{
    font-size: 18px;
    margin-bottom: 40px;
}
#Atencao{
    color: red;
    font-size: 18px;
}
#p-up{
    padding: 20px 0px;
}
#p-down{
    padding: 20px 0px;
    font-size: 16px;
}
button{
    background-color: #273E68;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    margin-bottom: 50px;
}
.Imagem-4{
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}
.Imagem-4 img{
    width: 100%;
    height: auto;
}
footer{
    background-color: #F3F3F3;
}
.texto-4{
    text-align: center;
    color: #273E69;
    width: 80%;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
}
.texto-4 p{
    width: 82%;
    margin-bottom: 20px;
    font-size: 18px;
    color: #273E69;
}
.findpage{
    text-align: center;
    background-color: white;
}
.findpage img{
    padding-top: 50px;
    margin: 0 auto;
    display: block;
    width: 10%;
    height: auto;
    object-fit: cover;
    padding-left: 10px;
}
.findpage span{
    text-align: center;
    margin: 0 auto;
    color: gray;
    font-size: 14px;
}
.findpage a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.findpage a:hover{
    color: #273E68;
}
.findpage a:active{
    color: red;
    text-decoration: underline;
}
.ul-icons{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 30px;
}

/* Responsividade */
@media (max-width: 1024px) {
    /* Ajustes gerais */
    body {
        font-size: 1.4rem; /* Ajuste da fonte para telas médias */
    }

    .logo {
        padding-left: 50px; /* Reduz o espaçamento da logo */
        width: 150px; /* Reduz tamanho da logo */
    }

    .container-top {
        padding: 20px; /* Adiciona espaçamento interno */
    }

    .texto-1 p {
        width: 90%; /* Ajusta largura do texto */
        margin: 0 auto; /* Centraliza */
        font-size: 1.4rem; /* Ajusta o tamanho da fonte */
    }

    .texto-1 h2 {
        font-size: 36px; /* Reduz o tamanho do título */
    }

    .cards {
        flex-wrap: wrap; /* Permite que os cards ocupem múltiplas linhas */
        justify-content: center;
    }
    .card img{
        width: 30%; /* Ajusta largura do card */
        height: auto; /* Ajusta altura automaticamente */
    }

    .cards-ul {
        width: 250px; /* Ajusta largura dos cards */
        font-size: 1.3rem; /* Reduz tamanho da fonte */
    }

    .texto-3 {
        width: 90%; /* Ajusta largura do texto */
        padding: 20px; /* Adiciona espaçamento interno */
    }

    .forms {
        width: 80%; /* Ajusta largura do formulário */
        margin: 0 auto; /* Centraliza horizontalmente */
        height: auto; /* Ajusta altura automaticamente */
        padding: 20px; /* Espaçamento interno */
    }

    .Geral-2 {
        flex-direction: column; /* Reorganiza elementos em coluna */
        align-items: center; /* Centraliza os elementos */
        text-align: center; /* Alinha texto ao centro */
    }

    .Geral-3 {
        flex-direction: column; /* Reorganiza elementos em coluna */
        align-items: center;
        text-align: center;

    }

    .Geral-4 {
        flex-direction: column; /* Coloca elementos em coluna */
        align-items: center; /* Centraliza elementos */
        padding: 50px 20px; /* Adiciona espaçamento interno */
    }

    .Imagem-1 img,
    .Imagem-2 img {
        width: 90%; /* Ajusta largura das imagens */
        height: auto; /* Mantém a proporção */
    }

    .cards-ul h5 {
        font-size: 20px; /* Ajusta tamanho do título nos cards */
    }

    footer .texto-4 {
        padding: 20px; /* Adiciona espaçamento interno */
        font-size: 1.2rem; /* Ajusta tamanho da fonte */
    }

    .findpage img {
        width: 20%; /* Ajusta tamanho da imagem */
    }
}
@media (max-width: 768px) {
        .forms {
            width: 90%; /* Reduz a largura para caber na tela */
            margin: 0 auto; /* Centraliza horizontalmente */
            height: auto; /* Ajusta a altura com base no conteúdo */
            padding: 20px; /* Adiciona espaçamento interno */
            box-sizing: border-box; /* Inclui padding e borda na largura */
        }
    
        .logo {
            padding-left: 20px; /* Reduz o espaçamento lateral */
        }
        .Imagem-1 img{
            width: 100%;
            height: auto;
        }
        .texto-1 h2 {
            font-size: 32px !important; /* Ajusta o tamanho do texto */
        }
    
        .texto-1 p {
            font-size: 18px;
            width: 100%; /* Deixa o texto ocupar a largura completa */
        }
        .texto-4{
            width: 90%;
            padding-left: 100px;
            padding-right: 100px;
            padding-bottom: 50px;
        }
        .texto-4 p{
            font-size: 16px; /* Ajusta o tamanho do texto */
            text-align: justify;
        }
        .Geral-2 {
            flex-direction: column; /* Alinha os elementos em coluna */
            align-items: center; /* Centraliza os elementos */
            text-align: center; /* Centraliza o texto */
        }
    
        .texto-3 {
            padding: 20px; /* Ajusta o espaçamento interno */
            width: 90%; /* Reduz a largura */
        }
    
        .cards {
            flex-direction: column; /* Organiza os cards em coluna */
            align-items: center; /* Centraliza os cards */
        }
    
        .cards-ul {
            width: 80%; /* Reduz a largura dos cards */
        }
    
        .Geral-3 {
            flex-direction: column; /* Organiza o conteúdo em coluna */
            align-items: center; /* Centraliza o conteúdo */
            text-align: center; /* Centraliza o texto */
        }
        .card img{
            width: 30%;
        }
    
        .Geral-4 {
            flex-direction: column; /* Organiza os elementos em coluna */
            padding: 30px 10px; /* Reduz o espaçamento interno */
        }
        .findpage img {
            width: 15%;
        }
    } 
@media (max-width: 480px) {
    * {
        font-size: 1.2rem;
    }
    .logo {
        width: 150px;
        padding-left: 20px;
    }
    .Imagem-1 img{
        width: 80%;
        height: 500px;
    }
    .Imagem-2 img{
        width: 50%;
        height: 300px;
    }
    .texto-1 h2 {
        font-size: 28px !important;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .cards-ul {
        width: 90%;
    }
    .texto-3 {
        padding: 10px;
        width: 100%;
    }
    .forms {
        width: 90%; /* Ajusta a largura para caber no viewport */
        margin: 0 auto; /* Centraliza horizontalmente */
        padding: 15px; /* Adiciona um espaçamento interno */
        height: auto; /* Ajusta automaticamente a altura */
        box-sizing: border-box; /* Inclui bordas e padding na largura */
    }
    .texto-4 {
        width: 100%;
        padding: 0 10px 80px;
    }
    .Geral-3 img {
        max-width: 30%;
    }
    .Geral-3 p{
        width: 50%;
        display: flex;
        font-size: 14px;
        flex-wrap: wrap;
    }
    .Geral-4 {
        flex-direction: column;
        padding: 20px 10px;
        
    }
    .findpage img {
        width: 15%;
    }
}